body{
    margin: 0px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    border : 1px solid red;
    height: 550px;
    width: 550px;
    display: flex;
    flex-direction: column;
}


.square{
    background-color: white;
    /* border : 1px solid black; */
    flex:1;
}


.row{
    display: flex;
    height: 100%;
}

.on-hover{
    background-color: black;
}


#number-of-squares{
        margin: 20px 0px;
}